/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*.amazario-slider{
     margin-top: -20px;
     background-color: #e4e4e4;
     padding: 30px 0px;
}*/

.thumbnail img{
     width: 451px;
     min-height: 298px;
}
