// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
     background-color: #353244;
     color: white;

}
input {
     background-color: grey;
     height: 21px;
     margin-top: 6px;
     padding-left: 3px;
     margin-left: 5px;

}
.email {
     display: flex;
     flex: inline;
}
.pw {
     display: flex;
     flex: inline;
}

#logo {
     margin-left: 115px;
     margin-top: 50px;
     max-width: 110px;
     max-height: 110px;
     border-radius: 50%;
     // border-color: 1px;
     // border-style: ridge;
}

button {
     margin: auto;
     // background-position: center;
     // background-color: grey;
}

.login-sec {
     // display:flex;
     justify-content:center;
     align-items:center;
     margin-left: 70px;
     margin-top: 140px;
}


.log {
     color: white;
     text-align: center;
     font-size: 2em;
     text-shadow: 2px 2px 4px #000000;

}

img {
     padding: 2px;
     max-width: 35px;
     max-height: 35px;
     border-radius: 50%;
}
