// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centered-form{
	margin: 80px 0px;
}

.centered-form .panel{
	background: rgba(105, 101, 101, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

// body{
//      background-color: #9c9c9c !important;
// }

.panel-default > .panel-heading {
    color: #eaeaea !important;
    background-color: #949090 !important;
    border-color: #dedbdb !important;
    }
